{% extends 'baseCompte.html.twig' %}
{% block head %}
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            text-align: center;
        }
        h1{
            font-family: 'Libre Franklin';
            text-align: center;
        }
        .img:hover {
            animation: shake 0.5s;
            animation-iteration-count: infinite;

        }
     .img{ width:30px;
    height:30px;}
        @keyframes shake {
            0% { transform: translate(1px, 1px) rotate(0deg); }
            10% { transform: translate(-1px, -2px) rotate(-1deg); }
            20% { transform: translate(-3px, 0px) rotate(1deg); }
            30% { transform: translate(3px, 2px) rotate(0deg); }
            40% { transform: translate(1px, -1px) rotate(1deg); }
            50% { transform: translate(-1px, 2px) rotate(-1deg); }
            60% { transform: translate(-3px, 1px) rotate(0deg); }
            70% { transform: translate(3px, 1px) rotate(-1deg); }
            80% { transform: translate(-1px, -1px) rotate(1deg); }
            90% { transform: translate(1px, 2px) rotate(0deg); }
            100% { transform: translate(1px, -2px) rotate(-1deg); }
        }
    </style>

{% endblock %}
{% block container %}
<body>

<center>
    <h1> Mes journaux</h1>
    <table class="table table-hover">
        <thead>

        <tr><th>Numéro Journale</th><th>Gibier</th><th>Nombre de chasse</th>
            <th>Lieu</th><th>Date</th><th>description</th><th>Image:</th><th colspan="2" >Actions</th>
        </tr>
        </thead>

        {% for journale in journales %}
        <tr>
            <td>{{ journale.id }}</td>

            <td>{{ journale.animal }}</td>

            <td>{{ journale.nbchasse }}</td>
            <td>{{ journale.lieu }}</td>

            <td>{{ journale.date|date('d m y') }}</td>
            <td>{{ journale.description }}</td>
            <td><img src="{{ asset('uploads/images/' ~ journale.image) }}" height="50px" width="50px"></td>

            <td><a href="{{ path('MAJ',{'id':journale.id}) }}" ><img class="img" src="{{ asset('img/update.png') }}"></a></td>
        <td><a href="{{ path('delete',{'id':journale.id}) }}"><img class="img" src="{{ asset('img/delete.jpg') }}"></a></td></a></td>
        </tr>
        {% endfor %}
    </table>



</center>
</body>
    </br>
    </br>
    </br>
    </br></br>
    </br>
    </br>
    </br>
    </br>
    </br>


</body>
{% endblock %}